html, body{ /* style appliqué aux balise html et body */
	margin:0; /* pas de marge*/
	height:100%; /* hauteur fenêtre complète */
	width:100%; /* largeur fenêtre complète */
	color:black; /* couleur de la police : noire */
	background-image:url(voiture.png); /* image de fond */
	background-repeat: no-repeat; /* image de fond non répétée (pas de mosaïque) */
	background-position: 50%; /* image de fond centrée */
	background-size: contain; /* image de fond forcée dans body */

	overflow:hidden; /* barres de défilements cachées et désactivées */

}

#avant { /* block div avant (distance capteur avant) */
	position: relative; /* position relative à la taille de la fenêtre */
	left:48.5%; /* depuis le bord gauche en pourcentage */
	top:10%; /* depuis le bord droit en pourcentage */
}

#droite{ /* block div droite (distance capteur droit) */
	position: relative;
	left:75%;
	top:65%;
}

#gauche{ /* block div gauche (distance capteur gauche) */
	position: relative;
	left:20%;
	top:65%;
}
